<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <link href="/css/bootstrap.min.css" rel="stylesheet">
</head>
<body class="text-center">
<script src="/js/bootstrap.bundle.min.js"></script>
<script src="/js/jquery-3.6.0.min.js"></script>
<script src="/js/students.js"></script>
<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
<h1 class="fw-bold">Edit Student</h1>
<form th:action="@{update}" method="POST" class="d-inline-block">
    <table class="table table-info table-hover mx-auto">
        <tr>
            <th> Id:</th>
            <td><input class="form-control" type="text" name="id" th:value="${student.id}" readonly/></td>
        </tr>
        <tr>
            <th> Name:</th>
            <td><input class="form-control" type="text" name="name" th:value="${student.name}"/></td>
        </tr>
        <tr>
            <th> Gender:</th>
            <td><input class="form-control" type="text" name="gender" th:value="${student.gender}"/></td>
        </tr>
        <tr>
            <th>Action</th>
            <td class="text-center"><input type="submit" value="Update" class="btn btn-primary"/></td>
        </tr>
    </table>
</form>
</body>
</html>