<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <link href="/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
<script src="/js/jquery-3.6.0.min.js"></script>
<script src="/js/bootstrap.bundle.min.js"></script>
<script src="/js/students.js"></script>
<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
<h1>List of Students</h1>
<table class="table table-striped">
    <tr>
        <th>Id</th>
        <th>Name</th>
        <th>Gender</th>
        <th>Delete</th>
        <th>Delete-Ajax</th>
        <th>Edit</th>
        <th>
            <form th:action="@{search}" method="POST">
                <div style="display: flex;">
                    <input type="text" class="form-control" placeholder="Name" aria-describedby="button-addon2"
                           style="width: 100px;" name="name"/>
                    <input type="submit" value="Search" class="btn btn-outline-secondary"/>
                </div>
            </form>
        </th>
    </tr>
    <tr th:each="student: ${students}">
        <td th:text="${student.id}"/>
        <td th:text="${student.name}"/>
        <td th:switch="${student.gender}">
            <span th:case="'M'" th:text="Male"/>
            <span th:case="'F'" th:text="Female"/>
        </td>
        <!--        2eme methode-->
        <!--        <td>-->
        <!--            <span th:if="${student.gender} == 'M'" th:text="Male" />-->
        <!--            <span th:unless="${student.gender} == 'M'" th:text="Female" />-->
        <!--        </td>-->
        <td><a th:href="'/students/delete/'+${student.id}" class="btn btn-danger">Delete</a>
        <td><a th:href="'javascript:deleteStudent('+${student.id}+')'" class="btn btn-danger">Delete</a></td>
        <td>
            <form th:action="@{edit}" method="POST">
                <input type="hidden" name="id" th:value="${student.id}"/>
                <input class="btn btn-outline-info" type="submit" value="Edit">
            </form>
        </td>
    </tr>
</table>
</br>
<form th:action="@{save}" method="POST">
    <table class="table table-striped">
        <tr>
            <th>Id</th>
            <td><input type="text" name="id"/></td>
        </tr>
        <tr>
            <th>Name</th>
            <td><input type="text" name="name"/></td>
        </tr>
        <tr>
            <th>Gender</th>
            <td><input type="text" name="gender"/></td>
        </tr>
        <tr>
            <th>Action</th>
            <td>
                <input class="btn btn-success" type="submit" value="Save">
            </td>
        </tr>
    </table>
</form>
</body>
</html>