<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <link href="/css/bootstrap.min.css" rel="stylesheet">
</head>
<body class="text-center">
<script src="/js/jquery-3.6.0.min.js"></script>
<script src="/js/bootstrap.bundle.min.js"></script>
<script src="/js/students.js"></script>
<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
<h1 class="fw-bold">List of Students</h1>
<form th:action="@{/students/search}" method="POST">
    <div style="display: flex; justify-content: flex-end; margin-right: 5%;">
        <input type="text" class="form-control" placeholder="Name" aria-describedby="button-addon2"
               style="width: 20%;" name="name"/>
        <input type="submit" value="Search" class="btn btn-outline-secondary"/>
    </div>
</form>
<table class="table table-striped mx-auto" style="width: 90%;">
    <tr>
        <th>Id</th>
        <th>Name</th>
        <th>Gender</th>
        <th>Delete</th>
        <th>Delete-Ajax</th>
        <th>Edit</th>
    </tr>
    <tr th:each="student: ${students}">
        <td th:text="${student.id}"/>
        <td th:text="${student.name}"/>
        <td th:switch="${student.gender}">
            <span th:case="'M'" th:text="Male"/>
            <span th:case="'F'" th:text="Female"/>
        </td>
        <!--        2eme methode-->
        <!--        <td>-->
        <!--            <span th:if="${student.gender} == 'M'" th:text="Male" />-->
        <!--            <span th:unless="${student.gender} == 'M'" th:text="Female" />-->
        <!--        </td>-->
        <td><a th:href="'/students/delete/'+${student.id}" class="btn btn-danger">Delete</a></td>
        <td><a th:href="'javascript:deleteStudent('+${student.id}+')'" class="btn btn-danger">Delete</a></td>
        <td>
            <form th:action="@{/students/edit}" method="POST">
                <input type="hidden" name="id" th:value="${student.id}"/>
                <input class="btn btn-outline-info" type="submit" value="Edit">
            </form>
        </td>
    </tr>
</table>
</br>
</br>
</br>
<h1 class="fw-bold">Add a Student</h1>
<form th:action="@{/students/save}" method="POST" class="d-inline-block">
    <table class="table table-info table-hover mx-auto">
        <tr>
            <th>Id</th>
            <td><input class="form-control" type="text" name="id"/></td>
        </tr>
        <tr>
            <th>Name</th>
            <td><input class="form-control" type="text" name="name"/></td>
        </tr>
        <tr>
            <th>Gender</th>
            <td><input class="form-control" type="text" name="gender"/></td>
        </tr>
        <tr>
            <th>Action</th>
            <td class="text-center"><input class="btn btn-success" type="submit" value="Save"></td>
        </tr>
    </table>
</form>
</body>
</html>